body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 0.9;
    color: 333;
}
.commands__title {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.container {
    width: 100;
    max-width: 1200px;
    margin: 0 auto;
}

.commands__ol {
    margin-left: 330px;
}